@import url(https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna);

* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: 'Tenali+Ramakrishna', cursive;
    font-size: 1em;

header {
    padding: 2em;
    height: 18em;
    background-image: url(../images/image3.png);
    background-repeat: no-repeat; 
    background-position: 1em 8em;

}

header {
    background-color: #2B5475;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #D9BB7C;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #2B5475;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #D9BB7C;
    border: 1px black solid;
    padding: 20px;
}

section .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #D9BB7C;
    border: 1px black solid;
    padding: 15px;
    float: left;
    width: 46%;
}

#right {
    background-color: #D9BB7C;
    border: 1px black solid;
    padding: 15px;
    float: right;   
    width: 46%;
}
