@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);

h1 {
    font-family: 'Mystery Quest', cursive;
    font-size: 32px
    text-align: center;
}


body {
  background: #1504B3;
  color: #FFF;
  font-size: 22px
   font-family: 'Mystery Quest', cursive;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}