@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

h1 {
	text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 70px
}

h2 {
	text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 45px
}

body {
  background: #1504B3;
  color: #FFF;
  font-size: 22px
  font-family: 'Mystery Quest', cursive;
  text-align: center;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}